.navigation,
.navbar {
  width: 100%;
  background: linear-gradient(90deg, #2563a6 70%, #bfc9d1 100%);
  color: #f8fafc;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  box-shadow: 0 2px 8px #bfc9d1;
}

.logo {
  float: left;
  font-size: 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.navlist {
  float: right;
}

.nav-option {
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
  font-family: "Blkchcry";
  color: #f8fafc;
  text-align: right;
  transition: color 0.2s;
}

.nav-option:hover {
  color: #bfc9d1;
}

.logo-img{

 width: 110px;      /* Increase width */
  height: 150px;     /* Increase height */
  vertical-align: middle;
  object-fit: contain;
}


.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
  margin: 15px;
  float: right;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .nav-option {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu .nav-option:last-child {
  border-bottom: none;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .logo {
    font-size: 25px;
    margin-top: 10px;
  }

  .navlist {
    float: none;
    text-align: center;
  }

  .nav-option {
    font-size: 16px;
    margin: 10px;
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .logo {
    font-size: 20px;
    margin-top: 8px;
    float: right;
  }

  .navlist {
    display: none;
    float: none;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.7); /* Blue background at 70% opacity */
  }

  .nav-option {
    font-size: 14px;
    margin: 5px;
    padding: 10px 12px;
  }

  .hamburger {
    display: block;
  }

  .dropdown-menu {
    display: flex;
  }
}